@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #8b5a3c;
  --third: #8b5a3c;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-third: var(--third);
  --font-cormorant: "Cormorant Garamond", serif;
}


/* Reusable link style */
.nav-link {
  color: var(--color-third);
  text-underline-offset: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #8b5a3c;
}
@import "tailwindcss";

/* Basic Reset */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: sans-serif;
}

/* Ensure font-serif (Cormorant Garamond) is loaded via Google Fonts in your layout.js */